<div class="container-xl mt-5">
    <div class="row">
        <div class="col">
          <button class="btn btn-outline-primary" (click)="navigateBack()"><i class="bi bi-arrow-left"></i> Back</button>
        </div>
        <div class="col">
          <h2>Reset Password</h2>
        </div>
    </div>
      <form [formGroup]="resetForm" class="row g-3 mt-5 custom">
        <p style="color: red;">{{errMsg}}</p>
          <div class="col-md-12">
            <label for="oldpassword" class="form-label">Old Password"</label>
            <input type="password" formControlName="oldPassword" class="form-control" id="oldpassword">
            <div class="error-block text-danger mb-1" *ngIf="f1.oldPassword?.errors?.required && f1.oldPassword?.dirty">
                Old Password Required
            </div>
          </div>
          <div class="col-md-12">
            <label for="newpassword" class="form-label">New Password</label>
            <input type="password" formControlName="newPassword" class="form-control" id="newpassword">
            <div class="error-block text-danger mb-1" *ngIf="f1.newPassword?.errors?.required && f1.newPassword?.dirty">
                New Password Required
            </div>
          </div>
          <div class="col-12">
            <label for="repassword" class="form-label">Re-Passowrd</label>
            <input type="password" formControlName="rePassword" class="form-control" id="mail" placeholder="xxxx@email.com">
            <div class="error-block text-danger mb-1" *ngIf="f1.rePassword?.errors?.required && f1.rePassword?.dirty">
                Re-passowrd Required
            </div>
          </div>
          <div class="col-12">
            <button type="submit" [disabled]="!resetForm.valid" class="btn btn-primary ms-auto" (click)="reset()">Confirm</button>
          </div>
        </form>
  </div>
