<div class="container-xl">
    <div class="row mt-5">
        <div class="col">
          <button class="btn btn-outline-primary" (click)="navigateBack()"><i class="bi bi-arrow-left"></i> Back</button>
        </div>
    </div>
    <table class="table mt-5">
        <tbody>
            <tr *ngFor="let item of cartItem">
                <td class="text-center"><img [src]="item.img" alt="img" style="width:100px; height:60px"></td>
                <td class="text-center">{{item.name}}</td>
                <td class="text-center">{{item.type}}</td>
                <td class="text-center">Rs {{item.price}}</td>
                <td class="text-center"><button class="btn btn-outline-danger" (click)="removeItem(item)"><i class="bi bi-cart-dash-fill"></i></button></td>
            </tr>
            <tr>
                <td class="text-end bold" colspan="4">total Price: Rs.{{totalPrice}}</td>
                <td class="text-center"><button class="btn btn-success bold" routerLink="../checkout"  *ngIf="cartlength!=0"><i class="bi bi-cart-check-fill"></i>  CHECKOUT</button></td>
            </tr>
        </tbody>
    </table>
</div>
