<div class="container-fluid">
    <div class="container-xl mt-5">
      <div class="row">
          <div class="col">
            <button class="btn btn-outline-primary" (click)="navigateBack()"><i class="bi bi-arrow-left"></i> Back</button>
          </div>
          <div class="col">
            <h2>Address</h2>
          </div>
      </div>
        <form [formGroup]="deliveryDetailsForm" class="row g-3 mt-5">
            <div class="col-md-6">
              <label for="name" class="form-label">Full Name</label>
              <input type="text" formControlName="fname" class="form-control" id="name">
              <div class="error-block text-danger mb-1" *ngIf="f2.fname?.errors?.required && f2.fname?.dirty">
                Name Required
              </div>
            </div>
            <div class="col-md-6">
              <label for="contact" class="form-label">Contact Number</label>
              <input type="number" formControlName="contact" class="form-control" id="contact">
              <div class="error-block text-danger mb-1" *ngIf="f2.contact?.errors?.required && f2.contact?.dirty">
                Contact Required
              </div>
            </div>
            <div class="col-6">
              <label for="mail" class="form-label">E-mail</label>
              <input type="text" formControlName="email" class="form-control" id="mail" placeholder="xxxx@email.com">
              <div class="error-block text-danger mb-1" *ngIf="f2.email?.errors?.required && f2.email?.dirty">
                Mail Required
              </div>
            </div>
            <div class="col-6">
              <label for="street" class="form-label">Address</label>
              <input type="text" formControlName="street" class="form-control" id="street" placeholder="Flat no, Apartment, street">
              <div class="error-block text-danger mb-1" *ngIf="f2.street?.errors?.required && f2.street?.dirty">
                Street Required
              </div>
            </div>
            <div class="col-md-6">
              <label for="city" class="form-label">City</label>
              <input type="text" formControlName="city" class="form-control" id="city">
              <div class="error-block text-danger mb-1" *ngIf="f2.city?.errors?.required && f2.city?.dirty">
                City Required
              </div>
            </div>
            <div class="col-md-4">
              <label for="inputState" class="form-label">State</label>
              <select id="inputState" formControlName="state" class="form-select">
                <option selected>Choose...</option>
                <option>...</option>
              </select>
              <div class="error-block text-danger mb-1" *ngIf="f2.state?.errors?.required && f2.state?.dirty">
                State Required
              </div>
            </div>
            <div class="col-md-2">
              <label for="inputZip" class="form-label" >Zip</label>
              <input type="text" class="form-control" formControlName="zip" id="inputZip">
              <div class="error-block text-danger mb-1" *ngIf="f2.zip?.errors?.required && f2.zip?.dirty">
                Zip Required
              </div>
            </div>
            <div class="col-12">
              <button type="submit" [disabled]="!deliveryDetailsForm.valid" class="btn btn-primary ms-auto" (click)="openForm(cardDetails)">Confirm</button>
            </div>
          </form>
    </div>
</div>


<ng-template #cardDetails let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Card Details</h4>
      <button type="button" class="close btn btn-danger" aria-label="Close"(click)="closeModal()">
          <span>X</span>
      </button>
  </div>
  <div class="modal-body">
      <div>
          <form [formGroup]="paymentDetailsForm ">
              <div class="form-group">
                  <label for="">Card Number <span class="text-errror"><sup class="required">*</sup></span></label>
                  <input type="number" formControlName="cardNumber" required class="form-control mb-2">
                  <div class="error-block text-danger mb-1" *ngIf="f1.cardNumber?.errors?.required && f1.cardNumber?.dirty">
                    Card Number Required
                  </div>
              </div>

              <div class="form-group">
                  <label for="">Expired Date <span class="text-errror"><sup class="required">*</sup></span></label>
                  <input type="text" formControlName="expiredDate" required class="form-control mb-2" placeholder="MM/YYYY">
                  <div class="error-block text-danger mb-1" *ngIf="f1.expiredDate?.errors?.required && f1.expiredDate?.dirty">
                    Expired Date Required
                  </div>
              </div>

              <div class="form-group">
                  <label for="">CVV <span class="text-errror"><sup class="required">*</sup></span></label>
                  <input type="text" formControlName="cvv" required class="form-control mb-2" placeholder="XXX">
                  <div class="error-block text-danger mb-1" *ngIf="f1.cvv?.errors?.required && f1.cvv?.dirty">
                    CVV Required
                  </div>
              </div>

              <div class="form-group">
                  <label for="">Name on card <span class="text-errror"><sup class="required">*</sup></span></label>
                  <input type="text" formControlName="name" required class="form-control mb-2">
                  <div class="error-block text-danger mb-1" *ngIf="f1.name?.errors?.required && f1.name?.dirty">
                    Name Required
                  </div>
              </div> 
          </form>
      </div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary btn-sm" type="submit" [disabled]="!paymentDetailsForm.valid" (click)="placeOrder(success_message)">Submit</button>      
  </div>
</ng-template>

<ng-template #success_message let-modal>
  <div class="row mt-5">
    <p class="text-center"> your order has been placed successfully</p>
  </div>
  <div class="row mb-5 mt-3">
    <button class="btn btn-primary btn-sm mx-auto btn-custom" (click)="closeModal()">Ok</button>
  </div>
</ng-template>
