<div class="container-fluid">
    <div class="container-xl mt-5">
        <div>
            <h4 class="logo ">Dashboard</h4>
        </div>
        <div class="row mt-5">
            <div class="col">
                <div class="Card border custom-card" routerLink="/admin/products">
                    <p class="text-center bold">Products Details</p>
                </div>
            </div>

            <div class="col">
                <div class="Card border custom-card" routerLink="/admin/orders">
                    <p class="text-center bold" >Orders</p>
                </div>
            </div>
            <div class="col">
                <div class="Card border custom-card" routerLink="/admin/reset">
                    <p class="text-center bold">Reset Password</p>
                </div>
            </div>
        </div>
    </div>
</div>
